<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Luau.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Luau.Properties.Settings>
            <setting name="EditorFont" serializeAs="String">
                <value>Consolas</value>
            </setting>
            <setting name="EditorFontSize" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="StyleLuaDefault" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="StyleLuaComment" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="StyleLuaCommentLine" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="StyleLuaNumber" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="StyleLuaOperator" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="StyleLuaWord" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="StyleLuaWord2" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="StyleLuaWord3" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="StyleLuaString" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="StyleLuaCharacter" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="StyleLuaLiteralString" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="StyleLuaPreprocessor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="StyleEditorBackground" serializeAs="String">
                <value>White</value>
            </setting>
        </Luau.Properties.Settings>
    </userSettings>
</configuration>